/* @media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
} */


@media (max-width: 650px) {
    .logo>img {
        margin: 0 auto;
    }
}





/* #container {
    background: blueviolet;
} */

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: green;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
    margin-left: 5px;

}


ul {
    list-style: none;
    display: flex;
    margin-right: 2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#navbar li {
    display: list-item;
    width: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: Yellow !important;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#projects {
    display: float;
    /* justify-content: flex-end; */
    text-align: center;
    padding: 10rem 2rem;
    background: beige;
}

#profile-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: lightpink;
}